(
    speciation: 0.1,
    sample: 0.00000025,
    seed: 42,
    
    algorithm: SkippingGillespie(),

    scenario: SpatiallyExplicit(
        habitat: "maps/madingley/fg0size12/habitat.tif",
        dispersal: "maps/madingley/fg0size12/dispersal.tif",
        turnover: Map("maps/madingley/fg0size12/turnover.tif"),
    ),
    
    reporters: [
        Plugin(
            library: "target/release/deps/libnecsim_plugins_common.so",
            reporters: [Biodiversity(), Execution(), Progress()],
        ),
    ],
)
